<div class="col">
    <div class="card custom-card mt-0">

        <img
            src="{{this.image}}"
            class="card-img-top"
            alt="..."
        />
     <div class="card-body custom-body">
      <div class="title-container">
        <h5 class="card-title"><a href='/polls/view/{{poll_id}}'>{{poll_title}}</a></h5>
      </div>
      <div class="d-flex justify-content-evenly align-items-start">
        <p class="card-text">Votes: {{votes}}</p>
        <p class="card-text">Created by: <a href="/users/{{user_id}}">{{username}}</a></p>
      </div>
    </div>
  </div>
</div>