<div class="col">
    <div class="card custom-card">
        <a href='/polls/vote/{{poll_id}} ' class="img-link">
            <img
                src="{{image}}"
                class="card-img-top"
                alt="..."
            />
        </a>
        <div class="card-body custom-body">
            <div class="title-container">
                <h5 class="card-title"><a class="pollTitle" href='/polls/vote/{{poll_id}}'>{{poll_title}}</a></h5>
            </div>
            {{!-- <div class="info-container"> --}}
                <p class="card-text" id="votes">Votes: {{poll_votes}}</p>
                <p class="card-text" id="user"><a class="card-text" href="/users/{{user_id}}">{{username}}</a></p>
            {{!-- </div> --}}
        </div>
    </div>
</div>
