<li class="list-group-item option {{votedClass}} {{voteClass}}" data-option="{{id}}">
  <div class="info no-votes">
    <h4 class="mb-1 text-center movie-title">{{movie.title}}</h4>
    <div class="no-votes-links">
      <a
        href="https://www.imdb.com/title/{{movie.imdb_id}}"
        target="_blank" class="spaced">
        IMDb Page
      </a>
      <a
        href="{{movie.trailer}}"
        target="_blank" class="spaced"
      >Trailer</a>
      <a
        href="{{movie.wikipedia}}"
        target="_blank" class="spaced"
      >Wikipedia</a>
    </div>
  </div>
</li>