<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Be For Reel</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Limelight&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
    {{#if css.url}}
      <link href="{{css.url}}" rel="stylesheet" />
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- HTML section -->
    <header
      class="display-flex justify-space-between align-center mx-auto custom-header"
    >
      <nav class="navbar navbar-expand-lg navbar-dark custom-navbar nav">
        <div class="container-fluid">
          <div class="logo">
            <a class="navbar-brand custom-navbar" href="/">LOGO</a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ms-auto list-unstyled">
              <li class="nav-item">
                {{#if userInfo.loggedIn}}
                  <span class="username">
                    <a  class="username" href="/users/{{users.id}}">{{userInfo.username}}</a>
                  </span>
                  <a href="/profile">Users</a>
                  <a href="/polls">Polls</a>
                  <a href="/polls/create">Create</a>

                  {{! <a href="/logout">Logout</a> }}
                  |
                  <button class="no-button" id="logout">Logout</button>
                {{else}}
                  <a class="loggedOut" href="/polls">Polls</a>|

                  <a class="loggedOut" href="/login">Login</a>
                {{/if}}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      {{{body}}}
    </div>

    <footer>
      <div class="footer-container">
        <p class="footer-text">&copy;
          {{currentYear.year}}
          Be For Reel App. All rights reserved.</p>
        <p class="powered-by">Powered by
          <i class="fab fa-imdb imdb-icon"></i></p>
      </div>
    </footer>

    <div class="loading-screen hidden" id="spinner">
      <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <script src="/js/script.js"></script>
    {{#if userInfo.loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>