<h2>{{user.username}}</h2>
<p class="lead text-light">Joined on {{format_date user.created_at}}</p>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <ul>
                <li class="list-group-item header">Polls created</li>
                {{#each user.polls as |poll|}}
                <li class="list-group-item">
                    <h6>
                        <a href="/polls/vote/{{poll.id}}">{{poll.title}}</a>
                        <cite> {{format_date poll.created_at}}</cite>
                    </h6>
                    <cite>
                        {{poll.description}}
                    </cite>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-12 col-md-6">
            <ul class="list-group">
                <li class="list-group-item header">Comments left</li>
                {{#each comments as |comment|}}
                <li class="list-group-item">
                    <h6>
                        <a href="/polls/vote/{{comment.poll_id}}">{{comment.poll_title}}</a>
                        <cite>vote: {{comment.movie}}</cite>
                    </h6>
                    <cite>
                        {{comment.content}} ({{format_date comment.created_at}})
                    </cite>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>