<div class="container pt-3 pb-3">
  <div class="row pb-2">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2>{{poll.title}}</h2>

      {{#if userInfo.loggedIn}}
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <div>
            ✅ Thanks for voting on this poll. Check out the Results!
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <ul class="list-group" id="option-list">
        {{#if userInfo.loggedIn}}
        {{#each poll.opts}}
          {{> viewoption_votes}}
        {{/each}}
        {{else}}
        {{#each poll.opts}}
          {{> viewoption_novotes}}
        {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>
  {{#if userInfo.loggedIn}}

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h6 class="mt-3 mb-2 text-light">Previous Comments:</h6>
        <ul class="list-group" id="comment-list">
          {{#each comments as |comment|}}
            <li class="list-group-item ind-comment">
              <a
                href="/users/{{comment.user_id}}"
                style="background-color: black;"
              >{{comment.user}}</a>
              <span>{{comment.movie}}</span>
              <p>{{comment.comment}} - ({{format_date comment.created}})</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <p class="mt-3 mb-2 text-light numberComments"></p>
        <p class="mt-3 mb-2 text-light numberComments">{{comments.length}}
          comments have been made on this poll.
          <a href="/login" class="btn-link custom-link">Login or sign up to vote
            and comment</a></p>
      </div>
    </div>
  {{/if}}
</div>
<script src="/js/vote_polls.js"></script>