<div class="main-container container pt-3 pb-3">
  <div class="row pb-2">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2>{{poll.title}}</h2>
        {{#if poll.description}}
        <p class="pollDescription">
          {{poll.description}}
        </p> 
        {{/if}}     
        <span id="publisher">
          <a href='/users/{{poll.user.id}}'>{{poll.user.username}}</a> ({{format_date poll.created_at}})
        </span>
      {{#if userInfo.loggedIn}}
        <div class="alert alert-primary align-items-center" role="alert">
            Your vote: <span>{{user.voted}}</span>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <ul class="list-group" id="option-list">
        {{#if userInfo.loggedIn}}
        {{#each poll.opts}}
          {{> viewoption_votes}}
        {{/each}}
        {{else}}
        {{#each poll.opts}}
          {{> viewoption_novotes}}
        {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>
  {{#if userInfo.loggedIn}}
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h6 class="mt-3 mb-2 text-light text-center lead">Previous Comments</h6>
        <ul class="list-group" id="comment-list">
          {{#each comments as |comment|}}
            <li class="list-group-item ind-comment">
              <a
                href="/users/{{comment.user_id}}"
                style="background-color: black;"
              >{{comment.user}}</a>
              <span>{{comment.movie}}</span>
              <p>{{comment.comment}} - ({{format_date comment.created}})</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{else}}
    <p class="mt-3 mb-2 text-light numberComments">
      {{poll.commentsText}}. <a href="/login">Log in or sign up to vote
        and comment</a>
    </p>
  {{/if}}
</div>
<script src="/js/vote_polls.js"></script>