<div class="container pb-3">
  <div class="row mb-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2>{{poll.title}}</h2>
      <p class="lead pollDescription text-light">{{poll.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h6 class="mt-3 mb-2 text-light instructions">Click or tap to choose an option, enter your comment, and then submit</h6>
      <ul class="list-group" id="option-list">
   {{#each poll.opts}}
  <li class="list-group-item option" data-option="{{id}}">
    <div class="details-container">
      <button
        class="btn detailsButton" 
        data-toggle="collapse"
        data-target="#option{{this.id}}Collapse"
        aria-expanded="true"
        aria-controls="option{{this.id}}Collapse"
      >More details</button>
      <a
        href="https://www.imdb.com/title/{{movie.imdb_id}}"
        class="text-light text-center imdb-link"
        target="_blank"
      >IMDb page</a>
    </div>
    <h4 class="mb-1 text-center">{{movie.title}}</h4>
    <div>
      <div class="actors text-center">
        <p>{{movie.stars}}</p>
      </div>
    </div>
    <div class="collapse" id="option{{id}}Collapse">
       <div class="collapse container more-film-info" id="option{{id}}Collapse">
      <div class="row row-cols-1 row-cols-sm-2">
        <p class="plot col">{{movie.plot}}</p>
        <div class="filmInfo col">
          <span><strong>Rated:</strong> {{movie.rating}}</span>
          <span><strong>Genres:</strong> {{movie.genres}}</span>
          <span><strong>IMDb rating:</strong> {{movie.imdb_rating}}</span>
          <div class="info-links">
            <a
              href="{{movie.trailer}}"
              target="_blank"
            >Trailer</a>
            <a
              href="{{movie.wikipedia}}"
              target="_blank"
            >Wikipedia</a>
          </div>
    </div>
  </li>
{{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h6 class="mt-3 mb-2 text-light">Leave a comment:</h6>
      <textarea
        id="comment"
        class="form-control"
        rows="4"
        placeholder="Type your comment or review here (optional)"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="text-right">

        <button
          type="button"
          id="submit"
          name="submit"
          class="custom-btn my-1"
          disabled
        >Submit vote and comment</button>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h6 class="mt-3 mb-2 text-light">Previous Comments:</h6>
      <ul class="list-group" id="comment-list comment-background">
        {{#each comments as |comment|}}
          <li class="list-group-item ind-comment">
              <a
                href="/users/{{comment.user_id}}"
              >{{comment.user}}</a>
              <span>{{comment.movie}}</span>
              <p>{{comment.comment}} - ({{format_date comment.created}})</p>
            </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script src="/js/vote_polls.js"></script>